*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

:root {
  --invoice-page-margin-left: 3rem;
}

@media screen and (max-width: 768px) {
  :root {
    --invoice-page-margin-left: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --invoice-page-margin-left: 1rem;
  }
}

body {
  min-height: 100vh;
  color: var(--color-text);
  font-family: 'Livvic', sans-serif;
  font-size: 1.25rem;
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
